  <hr> 
  <%= form_for ([@post, @post.comments.build]) do |f| %> 
    <div class = "form-group" > 
    <%= f.text_area :content, class: "form-control", placeholder: "Diga algo" %>
  </div>
  <%= f.button :Comentar,  class: "btn btn-primary" %>
<% end %>
<br> 

